{% extends 'base.html' %}
{% block title %}
博客主页
{% endblock %}

{% block content %}
<div class="container-xl">
    <form method="POST" class="form-signin" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">
            上传页面
        </h1>
        <br>
        {{ form.image_file.label }}
        {{ form.image_file(class="form-control") }}
         <br>
        {{ form.submit(class="btn btn-lg btn-primary btn-primary") }}
    </form>
</div>
{% endblock %}
